*{
  margin:0;
  padding:0;
}
body{
  background-image: url("imatges/halloween.jpg");
}
#carbassa{
  display:block;
  position:absolute;
  width:350px;
  height:350px;
  background-color: #d69d1d;
  transform:translate(-50%, -50%);
  transition:all 500ms ease;
  cursor:pointer;
  top: 50%;
  left: 50%;
  border-radius: 175px;
  border-style: solid;
}
#carbassa:hover{
  width: 350px;
  height: 250px
}
.pinxo{
  display:block;
  position:absolute;
  width:10px;
  height:50px;
  background-color: #935e05 ;
  transform:translate(-50%, -50%);
  top: -17%;
  left: 50%;
  border-style: solid;
  border-radius: 10px;
  transform: rotate(20deg);
}
  .ull{
    visibility: hidden;
  display: block;
  position: absolute;
  width: 62.5px;
  height: 62.5px;
  transform:translate(-50%, -50%);
  background-color: rgb(162, 79, 13);
  border-radius: 31.25px;
  border-style: solid;
  }
  #ulle{
    top: 35%;
    left: 35%;
    border-radius: 62px 120px 50px 120px;
  }
  #ulld{

    top: 35%;
    left: 65%;
    border-radius: 100px 62px 100px 50%;
  }
  #boca{
    visibility: hidden;
    display: block;
    position: absolute;
    width: 200px;
    height: 60px;
    transform:translate(-50%, -50%);
    background-color: rgb(162, 79, 13);
    border-radius: 30px 30px 100px 100px;
    top: 75%;
    left: 50%;
    border-style: solid;
  }
  .dent{
    visibility: hidden;
    display: block;
    position: absolute;
    transform:translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: #d69d1d;

  }
  #dent1{
    top: 85%;
    left: 50%;
    border-top-style: solid;
  }
  #dent2{
    top: 65%;
    left: 35%;
    border-bottom-style: solid;
  }
  #dent3{
    top: 65%;
    left: 65%;
    border-bottom-style: solid;
    }
  .cap{
    visibility: hidden;
    display:block;
    position:absolute;
    width:70px;
    height:35px;
    background-color:green;
    transform:translate(-50%, 0%);

    transition:all 200ms ease;
    cursor:pointer;
    top: -5%;
    left: 50%;
    border-radius:50px 50px 100px 100px ;
    border-style: solid;
  }
  section:hover
  div.ull{
    visibility: visible;
  }
  section:hover
  div#boca{
    visibility: visible;
  }
  section:hover
  div.dent{
    visibility: visible;
  }
  section:hover
  div.cap{
    visibility: visible;
  }
