*{
  margin:0;
  padding:0;
}
body{
  background-color: rgb(85, 198, 240);
}
#cap{
  display: block;
  position: absolute;
  height: 300px;
  width: 300px;
  background-color: yellow;
  transform:translate(-50%,-50%);
  transition: all 200ms ease;
  cursor: pointer;
  top: 50%;
  left: 50%;
  border-radius: 150px;
  border-style: solid;
}
.ull{
  display: block;
  position: absolute;
  height: 70px;
  width: 50px;
  background-color: white;
  transform:translate(-50%,-50%);
  border-radius: 35px;
  border-style: solid;
}
#ulle{
  top: 35%;
  left: 35%;
}#ulld{
  top: 35%;
  left: 65%;
}
.iris{
  display: block;
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: black;
  transform:translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  border-style: solid;
}
#boca{
  display: block;
  position: absolute;
  height: 50px;
  width: 150px;
  background-color: #e6610b;
  transform:translate(-50%,-50%);
  top: 75%;
  left: 50%;
  border-radius: 0px 0px 150px 150px;
  border-style: solid;
}
.lagrima{
  display: block;
  position: absolute;
  height: 10px;
  width: 15px;
  background-color: blue;
  transform:translate(-50%,0%);
  border-radius: 10px;
  border-style: solid;
}
#lagrimae{
  top: 40%;
  left: 35%;
}
#lagrimad{
  top: 40%;
  left: 65%;
}
.pestanya{
  visibility: hidden;
  display: block;
  position: absolute;
  height: 70px;
  width: 50px;
  background-color: yellow;
  transform:translate(-50%,-50%);
  border-bottom-style:solid;
  border-radius: 0px 0px 20px 020px;

  top: 42%;
  left: 50%;
}
.ma{

  display: block;
  position: absolute;
  height: 180px;
  width: 60px;
  background-color: yellow;
  transform:translate(-50%,-50%);
  border-radius: 35px 35px 0px 20px;
  border-style: solid;

  transition: all 300ms ease;
}
#mae{
  top: 70%;
  left: -1000%;
  border-radius: 35px 35px 0px 20px;
}
#mad{
  top: 70%;
  left: 1000%;
  border-radius: 35px 35px 20px 0px;
}
section:hover
div#boca:not(:hover){
  border-radius: 150px 150px 0px 0px;
  border-style: none;
  border-top-style: solid;
  background-color: yellow;

}
section:hover div.lagrima:not(:hover){
  height: 180px;

}
section:hover div.iris:not(:hover){
  visibility: hidden;

}
section:hover div.pestanya:not(:hover){
  visibility: visible;
}
section:hover div#mae:not(:hover){
  top: 70%;
  left: 10%;
  border-radius: 35px 35px 0px 20px;
}
section:hover div#mad:not(:hover){
  top: 70%;
  left: 90%;
  border-radius: 35px 35px 20px 0px;
